body {
  margin: 0;
  background-color: black;
}

.header {
  font-size: 2.5rem;
  color: antiquewhite;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
