.tableContainer {
  position: fixed;
  bottom: 3;
  left: 0;
  right: 0;
  height: 400px;
  overflow-y: auto;
  background: #0f2027;
}

.table {
  margin: 0 0 0;
}

.tableHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.addContainer {
  border: 2px solid red;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 20%;
  text-align: center;
}

.submitBtn {
  width: 59%;
}

.userImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
